

<div class="container" ng-controller="LoginCtrl" >
    <section id="header-section">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <span >
                    <b>EDSD</b>
                </span>
            </div>
            <div class="col-xs-4 col-md-4" id="title">
                <b id="title-login" style="margin-left: 20%;">Etats Des Sommes Dues</b>
            </div>
            <div class="col-xs-4 col-md-4">

            </div>
        </div>
    </section>
    <br>
    <div id="login-button">
        <img src="https://dqcgrsy5v35b9.cloudfront.net/cruiseplanner/assets/img/icons/login-w-icon.png"></img>
    </div>

    <div class="container" id="container">
        <br><br>
        <span class="close-btn">
            <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img>
        </span>
        <form name="login-form" ng-submit="login()">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="username" placeholder="employee number/matricule">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block" name="button">Login</button>
        </form>
    </div>
    <div ng-show="loginFailed">
        <div class="alert alert-success alert-dismissable">
          <a href="#!/admin" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Success!</strong> Indicates a successful or positive action.
        </div>
    </div>
    <!-- Forgotten Password Container -->
    <div id="forgotten-container" class="container">
        <h3 style="color: white; font-family: 'Helvetica', 'Arial', sans-serif;">Forgotten</h3>
        <span class="close-btn">
            <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img>
        </span>
        <form>
            <div class="form-group">
                <input type="email" class="form-control" id="email-forgot">
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block" name="button" style="font-family: 'Helvetica', 'Arial', sans-serif;">New password</button>
        </form>
    </div>

    <script>
        $('#login-button').click(function(){
            $('#login-button').fadeOut("slow",function(){
                $("#container").fadeIn();
            });
        });

        $(".close-btn").click(function(){
            $("#container, #forgotten-container").fadeOut(800, function(){
                $("#login-button").fadeIn(800);
            });
        });

        /* Forgotten Password */
        $('#forgotten').click(function(){
            $("#container").fadeOut(function(){
                $("#forgotten-container").fadeIn();
            });
        });
    </script>
</div>
