/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.uib-typeahead-match:hover {
    cursor: pointer !important;
}

.error {
    color: red;
    font-weight: bold;
}

.nav-second-level, .nav-first-level, .dropdown-user.li, .primes-table{
    cursor: pointer;
}

.messages {
  font-size: smaller;
  padding-top: 5px;
  padding-bottom: 10px;
  color: red;
}
