
<div style="margin: 50px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header color">Activer un agent</h1>
        </div>
    </div>
    <hr>
    <div>
        <section>
            <typeahead-directive-disabled></typeahead-directive-disabled>
        </section>
        <br>
        <section ng-show="disabledSelected">
            <form role="form" name="activateagent" ng-submit="activateAgent(disabledAgent)" class="box-shadow">
                <div class="row ">
                    <div class="col-xs-12 col-sm-6">
                        <table class="table table-responsive borderless">
                            <thead>
                                <tbody>
                                    <tr>
                                        <td>Prenom: </td>
                                        <td>{{disabledAgent.firstName}}</td>
                                    </tr>
                                    <tr>
                                        <td>Nom: </td>
                                        <td>{{disabledAgent.lastName}}</td>
                                    </tr>
                                </tbody>
                            </thead>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <table class="table table-responsive borderless">
                            <thead>
                                <tbody>
                                    <tr>
                                        <td>Employee Number/User name: </td>
                                        <td>{{disabledAgent.username}}</td>
                                    </tr>
                                    <tr>
                                        <td>E-mail address: </td>
                                        <td>{{disabledAgent.email}}</td>
                                    </tr>
                                </tbody>
                            </thead>
                        </table>
                        <div class="form-group">
                            <div class="checkbox" ng-class="enabled ? 'btn btn-success text-light' : 'btn btn-outline-success'">
                                <label class="material-checkbox">
                                    <input type="checkbox" ng-model="enabled" ng-click="setDisabledActive(enabled)" required><span ng-class="enabled ? 'text-light' : 'text-dark'"><b>Activer l'agent</b></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-success" ng-if="success.message ">
                    <p>Le compte de {{ disabledAgent.firstName }} {{ disabledAgent.lastName }} a été activé.</p>
                </div>
                <div ng-if="enabled">
                    <hr>
                    <button type="submit" class="btn btn-lg btn-success text-center">Save</button>
                    <br><br>
                </div>
            </form>
        </section>
    </div>
</div>
