<div class="mx-5">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header color">Dashboard</h1>
        </div>
    </div>
    <hr class="color"><br>
    <div class="row ">
        <div class="col-xs-12 col-md-6">
            <div class="box-shadow">
                <div class="text-center color">EDSD complétés</div>
                <c3chart bindto-id="donut-edsd-chart"
                    chart-data="charts.edsd.donutPoints" chart-columns="charts.edsd.donutColumns">
                    <chart-legend show-legend="true"/>
                    <chart-donut title="EDSD" width="60" show-label="true" expand="true"     label-format-function="charts.edsd.formatDonut"/>
                </c3chart>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="box-shadow">
                <div class="text-center color">Agents</div>
                <c3chart bindto-id="donut-user-chart" chart-data="charts.users.donutPoints" chart-columns="charts.users.donutColumns" sort-data="null">
                    <chart-legend show-legend="true"/>
                    <chart-donut title="Agents" width="60" show-label="true" expand="true"   label-format-function="charts.users.formatDonut" threshold-label="0.1"/>
                </c3chart>
            </div>
        </div>
    </div>
    <br><br>
</div>
