<div>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header">All Agents</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
		    <table st-table="agents" st-safe-src="allAgents" class="table table-stroped table-hover">
    			<thead>
        			<tr>
        				<th st-sort="firstName">First name</th>
        				<th st-sort="lastName">Last name</th>
        				<th st-sort="username">Matricule</th>
        				<th st-sort="active">status</th>
        				<th st-sort="role">Role</th>
        				<th st-sort="nonLogementEdsd">Non logement EDSD</th>
        				<th st-sort="primesEdsd">Primes EDSD</th>
        				<th st-sort="rappelsSalairesEdsd">Rappels Salaires EDSD</th>
        			</tr>
        			<tr>
        				<th colspan="9"><input st-search="" class="form-control" placeholder="search ..." type="text"/></th>
        			</tr>
    			</thead>
    			<tbody>
        			<tr ng-repeat="thisAgent in agents" class="primes-table" ng-click="showDetails($event, thisAgent, 'modal-agent-content.html');">
        				<td>{{thisAgent.firstName}}</td>
        				<td>{{thisAgent.lastName}}</td>
        				<td>{{thisAgent.username}}</td>
        				<td>{{(thisAgent.active)? "Enabled" : "Disabled"}}</td>
        				<td>{{thisAgent.roles[0].role}}</td>
        				<td>{{thisAgent.nonLogementEdsd.length}}</td>
        				<td>{{thisAgent.primesEdsd.length}}</td>
        				<td>{{thisAgent.rappelsSalairesEdsd.length}}</td>
        			</tr>
    			</tbody>
		    </table>
        </div>
	</div>
</div>

<script type="text/ng-template" id="modal-agent-content.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            Rappels Salaires -
            {{ selectedItem.belongsToRequester.firstName }} {{ selectedItem.belongsToRequester.lastName }},
            {{ selectedItem.belongsToRequester.accountNumber }}
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    <label>Created on: </label>
                    <span class="form-control-static">{{ selectedItem.createdDate | date:'MMM d, y h:mm a' }}</span>
                </div>
                <div class="form-group">
                    <label>Satrt date: </label>
                    <span class="form-control-static">{{ selectedItem.startDate | date: 'MMM d, y' }}</span>
                </div>
                <div class="form-group">
                    <label>End date: </label>
                    <span class="form-control-static">{{ selectedItem.endDate | date: 'MMM d, y'}}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    <label>Mois: </label>
                    <span class="form-control-static">{{ selectedItem.numberOfMonths | number : 2 }}</span>
                </div>
                <div class="form-group">
                    <label>Salaire de base: </label>
                    <span class="form-control-static">{{ selectedItem.salaireDeBase | currency : "FCFA " : 2 }}</span>
                </div>
                <div class="form-group">
                    <label>Computed Rappels Salaires: </label>
                    <span class="form-control-static">{{ selectedItem.computedRappelsSalaires | currency : "FCFA " : 2 }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()">OK</button>
    </div>
</script>
