<div>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header">All Agents</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
		    <table st-table="agents" st-safe-src="allAgents" class="table table-stroped table-hover">
    			<thead>
        			<tr>
        				<th st-sort="firstName">First name</th>
        				<th st-sort="lastName">Last name</th>
        				<th st-sort="username">Matricule</th>
        				<th st-sort="active">status</th>
        				<th st-sort="role">Role</th>
        				<th st-sort="nonLogementEdsd">Non logement EDSD</th>
        				<th st-sort="primesEdsd">Primes EDSD</th>
        				<th st-sort="rappelsSalairesEdsd">Rappels Salaires EDSD</th>
        			</tr>
        			<tr>
        				<th colspan="9"><input st-search="" class="form-control" placeholder="search ..." type="text"/></th>
        			</tr>
    			</thead>
    			<tbody>
        			<tr ng-repeat="thisAgent in agents" class="primes-table" ng-click="showDetails($event, thisAgent, '');">
        				<td>{{thisAgent.firstName}}</td>
        				<td>{{thisAgent.lastName}}</td>
        				<td>{{thisAgent.username}}</td>
        				<td>{{(thisAgent.active)? "Enabled" : "Disabled"}}</td>
        				<td>{{thisAgent.roles[0].role}}</td>
        				<td>{{thisAgent.nonLogementEdsd.length}}</td>
        				<td>{{thisAgent.primesEdsd.length}}</td>
        				<td>{{thisAgent.rappelsSalairesEdsd.length}}</td>
        			</tr>
    			</tbody>
		    </table>
        </div>
	</div>
</div>
