
<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create Agent</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form class="" role="form" name="search-agent">
                <!-- <div class="form-group input-group"> -->
                    <input type="text" ng-model="selected" placeholder="Enter employee number or first name or last name"
                        uib-typeahead="agent as agent.name for agent in getAgents($viewValue) | limitTo:8"
                        typeahead-loading="loadingLocations" class="form-control" ng-model-options="modelOptions"
                        typeahead-no-results="noResults" typeahead-min-length="1"
                        typeahead-template-url="aTemplate.html" typeahead-show-hint="true" ng-pattern="/^[a-zA-Z0-9]+$/" required>

                            <!-- <input type="text" ng-model="customSelected" placeholder="Custom template"
                                uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}"
                                typeahead-template-url="customTemplate.html" class="form-control" > -->

                    <!-- <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span> -->
                <!-- </div> -->
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </form>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Employee details
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label>First Name: </label>
                                    <p class="form-control-static">Admin</p>
                                </div>
                                <div class="form-group">
                                    <label>Middle Name: </label>
                                    <p class="form-control-static">A.</p>
                                </div>
                                <div class="form-group">
                                    <label>Last Name: </label>
                                    <p class="form-control-static">Admin</p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label>Employee Number/User name: </label>
                                    <p class="form-control-static">Admin</p>
                                </div>
                                <div class="form-group">
                                    <label>E-mail address: </label>
                                    <p class="form-control-static">admin@edsd.com</p>
                                </div>
                                <div class="form-group">
                                    <label>Active: </label>
                                    <p class="form-control-static label label-success">Yes</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label>Roles</label>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="roles" id="role-agent" value="agent" ng-checked="false" >Agent
                                        </label>
                                    </div>
                                    <div class="radio" ng-if="false">
                                        <label>
                                            <input type="radio" name="roles" id="role-admin" value="admin">Admin
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-lg btn-success text-center">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="aTemplate.html">
    <a tabindex="-1">
        <span style="display:block;"
            ng-bind-html="match.model.name | uibTypeaheadHighlight:query">
        </span>
        <span ng-bind-html="match.model.username | uibTypeaheadHighlight:query"></span>&nbsp;&nbsp;
        <span class="label" ng-class="{ 'label-success':match.model.active, 'label-default':!match.model.active }">
            <span ng-bind-html="match.model.active | uibTypeaheadHighlight:query"></span>
        </span>
    </a>
    <!-- <span>{{  }}</span> -->
</script>

<!-- typeahead-template-url="customTemplate.html" -->
