
<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header color">Deactivate Agent</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <typeahead-directive></typeahead-directive>
            <br>
            <div ng-show="selected">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Employee details
                    </div>
                    <div class="panel-body">
                        <form role="form" name="deactivateagent" ng-submit="deactivateAgent(agent)">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Name: </label>
                                        <p class="form-control-static">{{agent.firstName}}</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Middle Name: </label>
                                        <p class="form-control-static">{{agent.midName}}</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name: </label>
                                        <p class="form-control-static">{{agent.lastName}}</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Matricule: </label>
                                        <p class="form-control-static">{{agent.username}}</p>
                                    </div>
                                    <div class="form-group">
                                        <label>E-mail address: </label>
                                        <p class="form-control-static">{{agent.email}}</p>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox" ng-class="enabled ? 'btn btn-success' : 'btn btn-default'">
                                            <label><input type="checkbox" ng-model="enabled"
                                                ng-click="setActiveDisabled(enabled)" required>
                                                <b>Deactivate Agent</b></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="alert alert-success" ng-if="success.message">
                                {{agent.firstName}} {{agent.lastName}}'s agent account has been deactivated.
                            </div>
                            <hr>
                            <div ng-if="enabled">
                                <button type="submit" class="btn btn-lg btn-success text-center">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
