
<div ng-controller="MyEdsdCtrl">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header">Non Logement EDSD</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
		    <table st-table="nonLogements" st-safe-src="getNonLogementEdsds" class="table table-stroped table-hover">
    			<thead>
        			<tr>
        				<th st-sort="createdDate">Created date</th>
        				<th st-sort="firstName">First name</th>
        				<th st-sort="lastName">Last name</th>
        				<th st-sort="accountName">Account number</th>
        				<th st-sort="computedNonLogement">Computed non logement</th>
        				<th st-sort="startDate">Start date</th>
        				<th st-sort="endDate">End date</th>
        			</tr>
        			<tr>
        				<th colspan="9"><input st-search="" class="form-control" placeholder="search ..." type="text"/></th>
        			</tr>
    			</thead>
    			<tbody>
        			<tr ng-repeat="nonLogement in nonLogements" class="primes-table" ng-click="showDetails($event, nonLogement, 'modal-non-logement-content.html');">
        				<td><a>{{nonLogement.createdDate | date:'MMM d, y h:mm a'}}</a></td>
        				<td><a>{{nonLogement.belongsToRequester.firstName}}</a></td>
        				<td><a>{{nonLogement.belongsToRequester.lastName}}</a></td>
        				<td><a>{{nonLogement.belongsToRequester.accountNumber}}</a></td>
        				<td><a>{{nonLogement.computedNonLogement | currency : "FCFA " : 2}}</a></td>
        				<td><a>{{nonLogement.startDate | date: 'mediumDate'}}</a></td>
        				<td><a>{{nonLogement.endDate | date: 'MMM d, y'}}</a></td>
        			</tr>
    			</tbody>
		    </table>
        </div>
	</div>
</div>

<script type="text/ng-template" id="modal-non-logement-content.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            Non Logement -
            {{ selectedItem.belongsToRequester.firstName }} {{ selectedItem.belongsToRequester.lastName }},
            {{ selectedItem.belongsToRequester.accountNumber }}
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    <label>Created on: </label>
                    <span class="form-control-static">{{ selectedItem.createdDate | date:'MMM d, y h:mm a' }}</span>
                </div>
                <div class="form-group">
                    <label>Satrt date: </label>
                    <span class="form-control-static">{{ selectedItem.startDate | date: 'MMM d, y' }}</span>
                </div>
                <div class="form-group">
                    <label>End date: </label>
                    <span class="form-control-static">{{ selectedItem.endDate | date: 'MMM d, y'}}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    <label>Mois: </label>
                    <span class="form-control-static">{{ selectedItem.numberOfMonths | number : 2 }}</span>
                </div>
                <div class="form-group">
                    <label>Salaire de base: </label>
                    <span class="form-control-static">{{ selectedItem.salaireDeBase | currency : "FCFA " : 2 }}</span>
                </div>
                <div class="form-group">
                    <label>Computed non logement: </label>
                    <span class="form-control-static">{{ selectedItem.computedNonLogement | currency : "FCFA " : 2 }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()">OK</button>
        <!-- <button class="btn btn-" type="button" ng-click="cancel()">Cancel</button> -->
    </div>
</script>
