
<div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Process EDSD</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <typeahead-find-requester></typeahead-find-requester>
            <br><br>
            <div ng-show="selected">
                <div class="row collapse-margin">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Account number: </label>
                            <span class="form-control-static">{{requester.accountNumber}}</span>
                        </div>
                        <div class="form-group">
                            <label>First name: </label>
                            <span class="form-control-static">{{requester.firstName}}</span>
                        </div>
                        <div class="form-group">
                            <label>Last name: </label>
                            <span class="form-control-static">{{requester.lastName}}</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Sex: </label>
                            <span class="form-control-static">{{requester.genre}}</span>
                        </div>
                        <div class="form-group">
                            <label>Date of birth: </label>
                            <span class="form-control-static">{{requester.dob | date:'MMM d, y'}}</span>
                        </div>
                        <div class="form-group">
                            <label>Occupied organic position: </label>
                            <span class="form-control-static">{{requester.occupiedOrganicPosition}}</span>
                        </div>
                    </div><br>
                </div>
                <div>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="/agent#birth-info">
                                        Birth information
                                    </a>
                                </h4>
                            </div>
                            <div id="birth-info" class="panel-collapse collapse">
                                <br>
                                <div class="row collapse-margin">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label>Date of birth: </label>
                                            <span class="form-control-static">{{requester.dob | date:'MMM d, y'}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Place of birth: </label>
                                            <span class="form-control-static">{{requester.placeOfBirth}}</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="/agent#employment-info">
                                        Employment information
                                    </a>
                                </h4>
                            </div>
                            <div id="employment-info" class="panel-collapse collapse">
                                <br>
                                <div class="row collapse-margin">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label>Appointment type: </label>
                                            <span class="form-control-static">{{requester.appointmentType}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Category at recruitment: </label>
                                            <span class="form-control-static">{{requester.categoryAtRecruitment}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Current Category: </label>
                                            <span class="form-control-static">{{requester.currentCategory}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Current grade: </label>
                                            <span class="form-control-static">{{requester.currentGrade}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Current index: </label>
                                            <span class="form-control-static">{{requester.currentIndex}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Current situation: </label>
                                            <span class="form-control-static">{{requester.currentSituation}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Date of appointment or assignment: </label>
                                            <span class="form-control-static">{{requester.dateOfAppointmentOrAssignment | date: 'MMM d, y'}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Field of work: </label>
                                            <span class="form-control-static">{{requester.fieldOfWork}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Structure: </label>
                                            <span class="form-control-static wrap">{{requester.structure}}</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label>Gade at recruitment: </label>
                                            <span class="form-control-static">{{requester.gradeAtRecruitment}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Health District: </label>
                                            <span class="form-control-static">{{requester.healthDistrict}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Occupied organic position: </label>
                                            <span class="form-control-static">{{requester.occupiedOrganicPosition}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Rank position: </label>
                                            <span class="form-control-static">{{requester.rankPosition}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Recruitment date: </label>
                                            <span class="form-control-static">{{requester.recruitmentDate | date: 'MMM d, y'}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Reference appointment or assignment: </label>
                                            <span class="form-control-static">{{requester.referenceAppointmentOrAssignment}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Region: </label>
                                            <span class="form-control-static">{{requester.region}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Status: </label>
                                            <span class="form-control-static">{{requester.status}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <section>
                    <div class="edsd-section">
                        <br>
                        <form class="" name="edsdForm" ng-submit="processEdsd()">
                            <div>
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="/agent#primes-tab" aria-controls="primes-tab" role="tab" data-toggle="tab">Primes</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="/agent#rappels-salaires-tab" aria-controls="rappels-salaires-tab" role="tab" data-toggle="tab">Rappels Salaires</a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="primes-tab">
                                        <br><br>
                                        <primes></primes>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="rappels-salaires-tab">
                                        <br><br>
                                        <rappels-salaires></rappels-salaires>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <hr><br><br>
                            <div>
                                <button type="submit" class="btn btn-lg text-center"
                                    ng-class="false ? 'btn btn-success' : 'btn btn-default'"
                                    ng-disabled="">Process EDSD</button>
                            </div>
                            <br><br><br>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
